html {
    scroll-behavior: smooth; /* Enables smooth scrolling */
  }


@font-face {
    font-family: 'MyCustomFont';
    src: url('./Libre_Baskerville/fonts/Libre_Baskerville-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#NavBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333; 
    color: white;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 20;
    
}

nav {
    display: flex;
    height: 100%;
    margin-right: 1%;
}
  
nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    line-height: 1.5;
  }
  
  nav a:hover {
    border-radius: 5px;
    font-style: bold;
    color: black;
  }


#specLogo {
    font-family: 'MyCustomFont';
    margin-right: 50%;
    margin-left: 10%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
} 

img {
    width: 40px;
    height:40px;
}

p {
    margin-left: 5px;
    font-style: italic;
}

#logo:hover{
    background-color: rgb(41, 40, 40);
}

#specHomeLogo {
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: flex;
}
