#aboutText { width: 100%; position: relative; z-index: 2; }
#headerContainer { background: transparent; box-shadow: none; }
#aboutHeader { font-style: normal; }
#aboutDescription { font-style: normal; }
